footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                a.small.m-0(href='index.html') Copyright &copy; Andrii Holovin 2024
            .col-auto
                span.mx-1 &middot;
                a.small(href='index.html') Home
                span.mx-1 &middot;
                a.small(href='cv.html') CV
                span.mx-1 &middot;
                a.small(href='contact.html') Contact
                span.mx-1 &middot;
                a.small(href='projects.html') Projects
                span.mx-1 &middot;
            //-     a.small(href='#!') Privacy
            //-     span.mx-1 &middot;
            //-     a.small(href='#!') Terms
