include ga.pug

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content='My name is Andrii Holovin and I help brands grow. 9+ years of Project & Product Management consultancy expertise in managing data workflows, protecting data integrity in OpenStreetMap, global navigation solutions, and optimizing customer satisfaction. 15+ years of expertise in OpenStreetMap data creation and modelling, quality assurance, community development. 15+ years of progressive banking experience, I have held various roles from trainee to department manager. My expertise spans Money Market and Forex, Correspondent Banking and Wire Transfers, as well as Financial Planning and Analytics.')
meta(name='author', content='Andrii Holovin')
meta(name='keywords', content='GIS, ГІС, Andrii Holovin, Андрій Головін, OSM, OpenStreetMap, project, product, scrum, agile, DevOps, CI, CD, GitOps, k8s, documentation, IaC, Terraform, Helm, Flux, Kubernetes, banking, finance, money market, forex, correspondent banking, wire transfers, financial planning, analytics, data, data integrity, data workflows, data modelling, data science, global navigation solutions, customer satisfaction, innovation, quality assurance, community development, software, translation, localization, Ukrainian, English')
meta(name='robots', content='index,follow')
meta(naem='title', content='Andrii Holovin')

title Andrii Holovin

// Favicon
link(rel='icon', href='assets/favicon.ico', type='image/x-icon')
link(rel='icon', href='assets/favicon.svg', type='image/svg+xml')