nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3
    .container.px-5
        a.navbar-brand(href='index.html')
            span.fw-bolder.text-primary.display-1 Andrii Holovin
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.align-self-end.mb-1
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.small.fw-bolder
                li.nav-item.h4
                    a.nav-link(href='index.html') Home
                li.nav-item.h4
                    a.nav-link(href='cv.html') CV
                li.nav-item.h4
                    a.nav-link(href='contact.html') Contact
                //- li.nav-item.h4
                //-     a.nav-link(href='projects.html') Projects
