doctype html
html(lang='en')

    head

        include includes/head.pug
        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase &middot; Manage &middot; Lead &middot; Cooperate &middot;
                                .fs-3.fw-light.text-muted I can help your business to
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline Understand how people and goods are moving around
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-primary.btn-lg.px-5.py-3.fs-6.fw-bolder.me-sm-3(href='cv.html')          CV         
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contacts
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    a(href="contact.html")
                                        img.profile-img(src='assets/profile.png', alt='Man wearing a green T-shirt and badge tag on a yellow-blue-red-black ribbon')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug

            // About Section
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                //- h2.display-5.fw-bolder
                                //-     span.text-primary.d-inline About Me
                                //- p.lead.fw-light.mb-4 My name is Andrii Holovin and I help brands grow.
                                h2.display-5.fw-bolder
                                    span.text-primary.d-inline My name is Andrii Holovin and I help brands grow.
                            .text-left.my-5
                                p.text-muted 8+ years of consultancy expertise in managing data workflows, protecting data integrity in OpenStreetMap, global navigation solutions, and optimizing customer satisfaction.
                                p.text-muted 14+ years of expertise in OpenStreetMap data creation and modelling, quality assurance, community development.
                                p.text-muted 15+ years of progressive banking experience, I have held various roles from trainee to department manager. My expertise spans Money Market and Forex, Correspondent Banking and Wire Transfers, as well as Financial Planning and Analytics.
                                
                                mixin contactLink(iconClass, url)
                                    a.text-gradient(href=url)
                                        i(class=iconClass)

                                .d-flex.justify-content-center.fs-2.gap-4
                                    +contactLink('bi bi-linkedin', 'https://www.linkedin.com/in/andrii-holovin-b58201122/')
                                    +contactLink('bi bi-github', 'https://github.com/andygol/')
                                    +contactLink('bi bi-twitter-x', 'https://x.com/andygol_')
                                    +contactLink('bi bi-cloud-sun', 'https://bsky.app/profile/andygol.bsky.social')
                                    +contactLink('bi bi-globe-europe-africa', 'https://openstreetmap.org/user/andygol')
                                    +contactLink('bi bi-youtube', 'https://www.youtube.com/@AndriiHolovin')


        // Footer
        include includes/footer.pug

        include includes/scripts.pug
