doctype html
html(lang='en')

    head

        include includes/head.pug
        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase &middot; Manage &middot; Lead &middot; Cooperate &middot;
                                .fs-3.fw-light.text-muted I can help your business to
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline Understand how people, goods, and data are moving around
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3.mx-auto
                                    a.btn.btn-primary.btn-lg.py-3.fs-6.fw-bolder.col-sm-4.col-lg-3.col-xl-2.col-xxl-5(href='cv.html') CV
                                    a.btn.btn-outline-dark.btn-lg.py-3.fs-6.fw-bolder.col-sm-4.col-lg-3.col-xl-2.col-xxl-5(href='contact.html') Contacts
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    a(href="contact.html")
                                        img.profile-img(src='assets/profile.png', alt='Man wearing a green T-shirt and badge tag on a yellow-blue-red-black ribbon')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug

            // About Section
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-left.my-5
                                //- h2.display-5.fw-bolder
                                //-     span.text-primary.d-inline About Me
                                //- p.lead.fw-light.mb-4 My name is Andrii Holovin and I help brands grow.
                                h2.display-5.fw-bolder
                                    span.text-primary.d-inline Product & Project Manager
                                    br
                                    span.text-primary.d-inline Geospatial Expert
                            .text-left.my-5
                                p.text-muted With 9+ years of Project & Product Management consultancy, I specialize in managing data workflows and ensuring OpenStreetMap's data integrity. Passionate about global navigation solutions, I optimize customer satisfaction through innovation.
                                p.text-muted In my 15+ years, I've excelled in OpenStreetMap, quality assurance, and community development.
                                p.text-muted My banking career spans Money Market, Forex, Correspondent Banking, and Financial Planning.
                                p.text-muted By adopting DevOps methodology, I facilitate streamlined collaboration through the use of Kubernetes, Helm, Flux, Terraform, and GitOps. I am dedicated to optimising software development and deployment processes through the implementation of Infrastructure as Code (IaC). I translate
                                    a(href="https://www.linkedin.com/posts/istio_крига-скресла-після-тривалого-процесу-розгляду-activity-7260406545211940864-Q2Dz/" target="_blank")
                                        strong Istio
                                    |,
                                    a(href="https://andygol-helm.netlify.app/uk/" target="_balnk")
                                        strong Helm
                                    | and
                                    a(href="https://andygol-k8s.netlify.app/uk/" target="_balnk")
                                        strong Kubernetes
                                    | documentation into Ukrainian.

                                mixin contactLink(iconName, url)
                                    - const icon = icons[iconName]
                                        a.text-gradient(href=url)
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.rounded-3.col-1.fill-wihte
                                                if icon
                                                    svg.p-2!= icon.svg
                                                else
                                                    span= iconName


                                .d-grid.gap-3.pt-5.d-flex.flex-row.flex-wrap.justify-content-center
                                    +contactLink('siLinkedin', 'https://www.linkedin.com/in/andrii-holovin-b58201122/')
                                    +contactLink('siGithub', 'https://github.com/andygol/')
                                    +contactLink('siX', 'https://x.com/andygol_')
                                    +contactLink('siBluesky', 'https://bsky.app/profile/andygol.bsky.social')
                                    +contactLink('siOpenstreetmap', 'https://openstreetmap.org/user/andygol')
                                    +contactLink('siYoutube', 'https://www.youtube.com/@AndriiHolovin')


        // Footer
        include includes/footer.pug

        include includes/scripts.pug
