doctype html
html(lang='en')

    head

        include includes/head.pug
        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-3.my-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-md-11.col-lg-11.col-xl-9.col-xxl-8

                            // Project Card Isio Service Mesh
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder Istio
                                            p Istio is an open platform for connecting, managing, and securing microservices, making it easy to build secure and reliable cloud workloads, with or without sidecars. I have
                                                a(href="https://www.linkedin.com/posts/istio_крига-скресла-після-тривалого-процесу-розгляду-activity-7260406545211940864-Q2Dz/" target="_blank") localized the Istio mesh service documentation
                                                |into Ukrainian, starting with version 1.24.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/istio.png', alt='Screenshot of main page of Istio Service Mesh website in Ukrainian')

                            // Project Card Helm
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder Helm
                                            p Helm is a package manager for Kubernetes, enabling developers and operators to package, configure, and deploy applications on Kubernetes clusters easily. I made and maintain
                                                a(href="https://andygol-helm.netlify.app/uk/") Ukrainian localization of Helm documentation.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/helm.png', alt='Screenshot of main page of Helm website in Ukrainian')

                            // Project Card Kubernetes
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline Kubernetes Documentation
                                                span.d-none.d-md-inline.d-lg-none Kubernetes Docs
                                            p Kubernetes, also known as K8s, is an open source system for automating deployment, scaling, and management of containerized applications. I made and maintain
                                                a(href="https://andygol-k8s.netlify.app/uk/") Ukrainian localization of Kubernetes documentation.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/k8s.png', alt='Screenshot of main page of Helm website in Ukrainian')

                            // Project Card GCloud Shell ZSH
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline ZSH for Google Cloud Shell
                                                span.d-none.d-md-inline.d-lg-none ZSH for Google Cloud Shell
                                            p For those who want more flexibility in Google Cloud Shell, this tool will allow you to get the zsh shell, with suggestions and auto-completion.
                                            a(href="https://github.com/Andygol/gcloud-shell-zsh/") ZSH for Google Cloud Shell
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/gcloud-zsh.png', alt='Screenshot of GitHub repository of ZSH in Google Cloud Shell')

                            // Project Card Welcome Mat for OpenStreetMap
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline Welcome to OpenStreetMap
                                                span.d-none.d-md-inline.d-lg-none Welcome to OSM
                                            p Modernization of the welcome mat of the OpenStreetMap project.
                                                a(href="https://andygol.co.ua/welcome-mat-osmf/") This revision
                                                | is aimed at introducing multilingual support, simplifying search, and adding a toggle between day and night modes.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/welcome-osm.png', alt='Screenshot of main page of Welcome Mat | OpenstreetMap website in Englsih')

                            // Project Card Switch2OSM
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder Switch2OSM
                                            p A multilingual version of the
                                                a(href="https://andygol.co.ua/switch2osm-mkdocs/") Switch2OSM
                                                | project aimed at helping people get started using OSM data in their own projects. It uses Material for MkDocs for multilingual support, night and day modes, and search.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/switch2osm.png', alt='Screenshot of main page of Switch to OpenstreetMap website')

                            // Project Card OpenStreetMap Ukraine
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline OpenStreetMap Ukraine
                                                span.d-none.d-md-inline.d-lg-none OSM Ukraine
                                            p The
                                                a(href="https://openstreetmap.org.ua/") website of the Ukrainian community
                                                | of the OpenStreetMap project, describing the goals and principles of the project, which also includes a map created by the community.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/osm-ua.png', alt='Screenshot of main page of the Ukrainian Community of OpenstreetMap website')

                            // Project Card OpenStreetMap main
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline OpenStreetMap
                                                span.d-none.d-md-inline.d-lg-none OSM
                                            p Ukrainian localization of the
                                                a(href="https://openstreetmap.org/") OpenStreetMap project website
                                                | .
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/osm-main.png', alt='Screenshot of main page of the OpenstreetMap website')

                            // Project Card OpenStreetMap Wiki
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline OpenStreetMap Wiki
                                                span.d-none.d-md-inline.d-lg-none OSM Wiki
                                            p Creation of Ukrainian versions of the OpenStreetMap project
                                                a(href="https://wiki.openstreetmap.org/wiki/Uk:Адреси") documentation
                                                | .
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/osm-wiki.png', alt='Screenshot of main page of the OpenstreetMap Wiki website')

                            // Project Card OpenStreetMap iD editor
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline iD editor
                                                span.d-none.d-md-inline.d-lg-none iD editor
                                            p Creation of a Ukrainian version of the
                                                a(href="https://ideditor-release.netlify.app/#background=Bing&disable_features=boundaries&id=w109981818&map=17.81/50.40238/30.68310&locale=uk") iD editor
                                                | user interface, help, and walkthrough.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/osm-id.png', alt='Screenshot of main page of the iD editor')

                            // Project Card OpenStreetMap JOSM
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline JOSM
                                                span.d-none.d-md-inline.d-lg-none JOSM
                                            p I spearheaded the development of the Ukrainian version of the
                                                a(href="https://josm.openstreetmap.de/wiki/Uk%3AWikiStart") JOSM editor
                                                | user interface and accompanying documentation. I also provided guidance to maintainers on implementing improvements and adding new functionality to the editor, as well as creating plugins and
                                                a(href="https://josm.openstreetmap.de/wiki/Rules/UkrainePhoneNumbers") validation rules.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/osm-josm.png', alt='Screenshot of main page of the JOSM editor website')

                            // Project Card HotOSM Tasking Manager
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline HOT Tasking Manager
                                                span.d-none.d-md-inline.d-lg-none HOT TM
                                            p The localization of the
                                                a(href="https://tasks.hotosm.org/") Tasking Manager
                                                |user interface is a key aspect of the administration of projects undertaken by the Ukrainian OpenStreetMap (OSM) community.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/hotosm-tm.png', alt='Screenshot of main page of the HOT TM website')

                            // Project Card MapRoulette
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.flex-column.flex-md-row.align-items-start
                                        .p-5.col-12.col-md-6
                                            h2.fw-bolder
                                                span.d-inline.d-md-none.d-lg-inline MapRoulette
                                                span.d-none.d-md-inline.d-lg-none MapRoulette
                                            p The localization of the
                                                a(href="https://maproulette.org/") MapRoulette
                                                | user interface and the administration of projects undertaken by the Ukrainian OpenStreetMap community. MapRoulette has dozens of mapping Challenges that are created by experienced mappers.
                                        img.img-fluid.col-12.col-md-6.mt-3.mt-md-0(src='/assets/projects/osm-mrlt.png', alt='Screenshot of main page of the MapRoulette website')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build the future.
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
