html[data-theme="light"] .chroma,
html[data-theme="light"] .chroma * {
  background: transparent;
}
html[data-theme="light"] /* Background */ .bg { background-color:#fff; }
html[data-theme="light"] /* PreWrapper */ .chroma { background-color:#fff; }
html[data-theme="light"] /* Other */ .chroma .x {  }
html[data-theme="light"] /* Error */ .chroma .err { color:#a61717;background-color:#e3d2d2 }
html[data-theme="light"] /* CodeLine */ .chroma .cl {  }
html[data-theme="light"] /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
html[data-theme="light"] /* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
html[data-theme="light"] /* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
html[data-theme="light"] /* LineHighlight */ .chroma .hl { background-color:#e5e5e5 }
html[data-theme="light"] /* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html[data-theme="light"] /* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html[data-theme="light"] /* Line */ .chroma .line { display:flex; }
html[data-theme="light"] /* Keyword */ .chroma .k { color:#000;font-weight:bold }
html[data-theme="light"] /* KeywordConstant */ .chroma .kc { color:#000;font-weight:bold }
html[data-theme="light"] /* KeywordDeclaration */ .chroma .kd { color:#000;font-weight:bold }
html[data-theme="light"] /* KeywordNamespace */ .chroma .kn { color:#000;font-weight:bold }
html[data-theme="light"] /* KeywordPseudo */ .chroma .kp { color:#000;font-weight:bold }
html[data-theme="light"] /* KeywordReserved */ .chroma .kr { color:#000;font-weight:bold }
html[data-theme="light"] /* KeywordType */ .chroma .kt { color:#458;font-weight:bold }
html[data-theme="light"] /* Name */ .chroma .n {  }
html[data-theme="light"] /* NameAttribute */ .chroma .na { color:#008080 }
html[data-theme="light"] /* NameBuiltin */ .chroma .nb { color:#0086b3 }
html[data-theme="light"] /* NameBuiltinPseudo */ .chroma .bp { color:#999 }
html[data-theme="light"] /* NameClass */ .chroma .nc { color:#458;font-weight:bold }
html[data-theme="light"] /* NameConstant */ .chroma .no { color:#008080 }
html[data-theme="light"] /* NameDecorator */ .chroma .nd { color:#3c5d5d;font-weight:bold }
html[data-theme="light"] /* NameEntity */ .chroma .ni { color:#800080 }
html[data-theme="light"] /* NameException */ .chroma .ne { color:#900;font-weight:bold }
html[data-theme="light"] /* NameFunction */ .chroma .nf { color:#900;font-weight:bold }
html[data-theme="light"] /* NameFunctionMagic */ .chroma .fm {  }
html[data-theme="light"] /* NameLabel */ .chroma .nl { color:#900;font-weight:bold }
html[data-theme="light"] /* NameNamespace */ .chroma .nn { color:#555 }
html[data-theme="light"] /* NameOther */ .chroma .nx {  }
html[data-theme="light"] /* NameProperty */ .chroma .py {  }
html[data-theme="light"] /* NameTag */ .chroma .nt { color:#000080 }
html[data-theme="light"] /* NameVariable */ .chroma .nv { color:#008080 }
html[data-theme="light"] /* NameVariableClass */ .chroma .vc { color:#008080 }
html[data-theme="light"] /* NameVariableGlobal */ .chroma .vg { color:#008080 }
html[data-theme="light"] /* NameVariableInstance */ .chroma .vi { color:#008080 }
html[data-theme="light"] /* NameVariableMagic */ .chroma .vm {  }
html[data-theme="light"] /* Literal */ .chroma .l {  }
html[data-theme="light"] /* LiteralDate */ .chroma .ld {  }
html[data-theme="light"] /* LiteralString */ .chroma .s { color:#d14 }
html[data-theme="light"] /* LiteralStringAffix */ .chroma .sa { color:#d14 }
html[data-theme="light"] /* LiteralStringBacktick */ .chroma .sb { color:#d14 }
html[data-theme="light"] /* LiteralStringChar */ .chroma .sc { color:#d14 }
html[data-theme="light"] /* LiteralStringDelimiter */ .chroma .dl { color:#d14 }
html[data-theme="light"] /* LiteralStringDoc */ .chroma .sd { color:#d14 }
html[data-theme="light"] /* LiteralStringDouble */ .chroma .s2 { color:#d14 }
html[data-theme="light"] /* LiteralStringEscape */ .chroma .se { color:#d14 }
html[data-theme="light"] /* LiteralStringHeredoc */ .chroma .sh { color:#d14 }
html[data-theme="light"] /* LiteralStringInterpol */ .chroma .si { color:#d14 }
html[data-theme="light"] /* LiteralStringOther */ .chroma .sx { color:#d14 }
html[data-theme="light"] /* LiteralStringRegex */ .chroma .sr { color:#009926 }
html[data-theme="light"] /* LiteralStringSingle */ .chroma .s1 { color:#d14 }
html[data-theme="light"] /* LiteralStringSymbol */ .chroma .ss { color:#990073 }
html[data-theme="light"] /* LiteralNumber */ .chroma .m { color:#099 }
html[data-theme="light"] /* LiteralNumberBin */ .chroma .mb { color:#099 }
html[data-theme="light"] /* LiteralNumberFloat */ .chroma .mf { color:#099 }
html[data-theme="light"] /* LiteralNumberHex */ .chroma .mh { color:#099 }
html[data-theme="light"] /* LiteralNumberInteger */ .chroma .mi { color:#099 }
html[data-theme="light"] /* LiteralNumberIntegerLong */ .chroma .il { color:#099 }
html[data-theme="light"] /* LiteralNumberOct */ .chroma .mo { color:#099 }
html[data-theme="light"] /* Operator */ .chroma .o { color:#000;font-weight:bold }
html[data-theme="light"] /* OperatorWord */ .chroma .ow { color:#000;font-weight:bold }
html[data-theme="light"] /* Punctuation */ .chroma .p {  }
html[data-theme="light"] /* Comment */ .chroma .c { color:#998;font-style:italic }
html[data-theme="light"] /* CommentHashbang */ .chroma .ch { color:#998;font-style:italic }
html[data-theme="light"] /* CommentMultiline */ .chroma .cm { color:#998;font-style:italic }
html[data-theme="light"] /* CommentSingle */ .chroma .c1 { color:#998;font-style:italic }
html[data-theme="light"] /* CommentSpecial */ .chroma .cs { color:#999;font-weight:bold;font-style:italic }
html[data-theme="light"] /* CommentPreproc */ .chroma .cp { color:#999;font-weight:bold;font-style:italic }
html[data-theme="light"] /* CommentPreprocFile */ .chroma .cpf { color:#999;font-weight:bold;font-style:italic }
html[data-theme="light"] /* Generic */ .chroma .g {  }
html[data-theme="light"] /* GenericDeleted */ .chroma .gd { color:#000;background-color:#fdd }
html[data-theme="light"] /* GenericEmph */ .chroma .ge { color:#000;font-style:italic }
html[data-theme="light"] /* GenericError */ .chroma .gr { color:#a00 }
html[data-theme="light"] /* GenericHeading */ .chroma .gh { color:#999 }
html[data-theme="light"] /* GenericInserted */ .chroma .gi { color:#000;background-color:#dfd }
html[data-theme="light"] /* GenericOutput */ .chroma .go { color:#888 }
html[data-theme="light"] /* GenericPrompt */ .chroma .gp { color:#555 }
html[data-theme="light"] /* GenericStrong */ .chroma .gs { font-weight:bold }
html[data-theme="light"] /* GenericSubheading */ .chroma .gu { color:#aaa }
html[data-theme="light"] /* GenericTraceback */ .chroma .gt { color:#a00 }
html[data-theme="light"] /* GenericUnderline */ .chroma .gl { text-decoration:underline }
html[data-theme="light"] /* TextWhitespace */ .chroma .w { color:#bbb }
html[data-theme="dark"] /* Background */ .bg { color:#f8f8f2;background-color:#282a36; }
html[data-theme="dark"] /* PreWrapper */ .chroma { color:#f8f8f2;background-color:#282a36; }
html[data-theme="dark"] /* Other */ .chroma .x {  }
html[data-theme="dark"] /* Error */ .chroma .err {  }
html[data-theme="dark"] /* CodeLine */ .chroma .cl {  }
html[data-theme="dark"] /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
html[data-theme="dark"] /* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
html[data-theme="dark"] /* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
html[data-theme="dark"] /* LineHighlight */ .chroma .hl { background-color:#3d3f4a }
html[data-theme="dark"] /* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html[data-theme="dark"] /* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html[data-theme="dark"] /* Line */ .chroma .line { display:flex; }
html[data-theme="dark"] /* Keyword */ .chroma .k { color:#ff79c6 }
html[data-theme="dark"] /* KeywordConstant */ .chroma .kc { color:#ff79c6 }
html[data-theme="dark"] /* KeywordDeclaration */ .chroma .kd { color:#8be9fd;font-style:italic }
html[data-theme="dark"] /* KeywordNamespace */ .chroma .kn { color:#ff79c6 }
html[data-theme="dark"] /* KeywordPseudo */ .chroma .kp { color:#ff79c6 }
html[data-theme="dark"] /* KeywordReserved */ .chroma .kr { color:#ff79c6 }
html[data-theme="dark"] /* KeywordType */ .chroma .kt { color:#8be9fd }
html[data-theme="dark"] /* Name */ .chroma .n {  }
html[data-theme="dark"] /* NameAttribute */ .chroma .na { color:#50fa7b }
html[data-theme="dark"] /* NameBuiltin */ .chroma .nb { color:#8be9fd;font-style:italic }
html[data-theme="dark"] /* NameBuiltinPseudo */ .chroma .bp {  }
html[data-theme="dark"] /* NameClass */ .chroma .nc { color:#50fa7b }
html[data-theme="dark"] /* NameConstant */ .chroma .no {  }
html[data-theme="dark"] /* NameDecorator */ .chroma .nd {  }
html[data-theme="dark"] /* NameEntity */ .chroma .ni {  }
html[data-theme="dark"] /* NameException */ .chroma .ne {  }
html[data-theme="dark"] /* NameFunction */ .chroma .nf { color:#50fa7b }
html[data-theme="dark"] /* NameFunctionMagic */ .chroma .fm {  }
html[data-theme="dark"] /* NameLabel */ .chroma .nl { color:#8be9fd;font-style:italic }
html[data-theme="dark"] /* NameNamespace */ .chroma .nn {  }
html[data-theme="dark"] /* NameOther */ .chroma .nx {  }
html[data-theme="dark"] /* NameProperty */ .chroma .py {  }
html[data-theme="dark"] /* NameTag */ .chroma .nt { color:#ff79c6 }
html[data-theme="dark"] /* NameVariable */ .chroma .nv { color:#8be9fd;font-style:italic }
html[data-theme="dark"] /* NameVariableClass */ .chroma .vc { color:#8be9fd;font-style:italic }
html[data-theme="dark"] /* NameVariableGlobal */ .chroma .vg { color:#8be9fd;font-style:italic }
html[data-theme="dark"] /* NameVariableInstance */ .chroma .vi { color:#8be9fd;font-style:italic }
html[data-theme="dark"] /* NameVariableMagic */ .chroma .vm {  }
html[data-theme="dark"] /* Literal */ .chroma .l {  }
html[data-theme="dark"] /* LiteralDate */ .chroma .ld {  }
html[data-theme="dark"] /* LiteralString */ .chroma .s { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringAffix */ .chroma .sa { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringBacktick */ .chroma .sb { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringChar */ .chroma .sc { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringDelimiter */ .chroma .dl { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringDoc */ .chroma .sd { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringDouble */ .chroma .s2 { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringEscape */ .chroma .se { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringHeredoc */ .chroma .sh { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringInterpol */ .chroma .si { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringOther */ .chroma .sx { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringRegex */ .chroma .sr { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringSingle */ .chroma .s1 { color:#f1fa8c }
html[data-theme="dark"] /* LiteralStringSymbol */ .chroma .ss { color:#f1fa8c }
html[data-theme="dark"] /* LiteralNumber */ .chroma .m { color:#bd93f9 }
html[data-theme="dark"] /* LiteralNumberBin */ .chroma .mb { color:#bd93f9 }
html[data-theme="dark"] /* LiteralNumberFloat */ .chroma .mf { color:#bd93f9 }
html[data-theme="dark"] /* LiteralNumberHex */ .chroma .mh { color:#bd93f9 }
html[data-theme="dark"] /* LiteralNumberInteger */ .chroma .mi { color:#bd93f9 }
html[data-theme="dark"] /* LiteralNumberIntegerLong */ .chroma .il { color:#bd93f9 }
html[data-theme="dark"] /* LiteralNumberOct */ .chroma .mo { color:#bd93f9 }
html[data-theme="dark"] /* Operator */ .chroma .o { color:#ff79c6 }
html[data-theme="dark"] /* OperatorWord */ .chroma .ow { color:#ff79c6 }
html[data-theme="dark"] /* Punctuation */ .chroma .p {  }
html[data-theme="dark"] /* Comment */ .chroma .c { color:#6272a4 }
html[data-theme="dark"] /* CommentHashbang */ .chroma .ch { color:#6272a4 }
html[data-theme="dark"] /* CommentMultiline */ .chroma .cm { color:#6272a4 }
html[data-theme="dark"] /* CommentSingle */ .chroma .c1 { color:#6272a4 }
html[data-theme="dark"] /* CommentSpecial */ .chroma .cs { color:#6272a4 }
html[data-theme="dark"] /* CommentPreproc */ .chroma .cp { color:#ff79c6 }
html[data-theme="dark"] /* CommentPreprocFile */ .chroma .cpf { color:#ff79c6 }
html[data-theme="dark"] /* Generic */ .chroma .g {  }
html[data-theme="dark"] /* GenericDeleted */ .chroma .gd { color:#f55 }
html[data-theme="dark"] /* GenericEmph */ .chroma .ge { text-decoration:underline }
html[data-theme="dark"] /* GenericError */ .chroma .gr {  }
html[data-theme="dark"] /* GenericHeading */ .chroma .gh { font-weight:bold }
html[data-theme="dark"] /* GenericInserted */ .chroma .gi { color:#50fa7b;font-weight:bold }
html[data-theme="dark"] /* GenericOutput */ .chroma .go { color:#44475a }
html[data-theme="dark"] /* GenericPrompt */ .chroma .gp {  }
html[data-theme="dark"] /* GenericStrong */ .chroma .gs {  }
html[data-theme="dark"] /* GenericSubheading */ .chroma .gu { font-weight:bold }
html[data-theme="dark"] /* GenericTraceback */ .chroma .gt {  }
html[data-theme="dark"] /* GenericUnderline */ .chroma .gl { text-decoration:underline }
html[data-theme="dark"] /* TextWhitespace */ .chroma .w {  }
